{
  "env": { "es6": true, "node": true, "browser": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/strict",
    "prettier"
  ],
  "ignorePatterns": ["docs", "node_modules/"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["simple-import-sort"],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
