// variables
bg = #333333
bg-dark = #1a1a1a
bg-light = #4d4d4d
text = #b0b0b0
text-black = #202020
text-white = #c0c0c0

neumorphism(r, concave)
  -webkit-border-radius r
  -moz-border-radius r
  border-radius r
  background bg

  if concave
    box-shadow inset 6px 6px 12px bg-dark, inset -6px -6px 12px bg-light
  else
    box-shadow 6px 6px 12px bg-dark, -6px -6px 12px bg-light

neum-text()
  color text-black
  text-shadow 1px 1px 1px #555555
  margin 10px auto

// parts
.number-input
  padding-top 3px

  label
    position relative
    top 14px
    right 10px

  input
    width 40px
    padding 5px 15px
    border 2px solid bg-light
    neumorphism(6px, true)
    font-size 16px
    color white
    vertical-align top
    margin-top 8px

    &::placeholder
      color text-white

.neum-btn
  width 50px
  height 50px
  border none
  neumorphism(50%, false)
  margin 0 10px
  position relative
  color #60a0d0

  svg
    width 20px
    position absolute
    top 13px
    left 16px

// main
html
  min-height 100%
  min-width fit-content

body
  width 100%
  background linear-gradient(to bottom right, bg-light, 50%, bg)
  color text
  font-family 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif

header
  text-align center
  margin-bottom 42px

  h1
    neum-text()

main
  width fit-content
  margin auto
  display flex
  justify-content center
  flex-wrap wrap

  >div
    margin 10px

  #editor
    text-shadow none
    border-radius 6px
    width 600px
    height 600px

  .result
    display flex
    flex-direction column
    text-align center
    padding 20px
    width 600px

    .settings
      padding 20px
      flex 1

      .array-patterns
        border none

        .array-pattern
          display inline
          margin-right 8px

          input
            vertical-align text-bottom
            margin-right 5px

      .generate
        display flex
        justify-content center
        margin 12px

        .neum-btn
          margin-left 16px

          svg
            top 14.5px
            left 16px

    .view
      flex 3
      neumorphism(6px, true)

      div
        padding 20px

      #log
        height 200px

    .control
      padding 20px
      flex 1
      display flex

  .description
    margin 32px
    padding 12px 20px 20px
    border 2px solid bg-light

    .usage
      font-weight bold
      letter-spacing 1px
      text-align center
      margin 0 auto 8px

footer
  text-align center

  a
    text-decoration none
    color text

    svg
      vertical-align bottom
      width 16px
      margin-right 3px